#kaocha/v1
    {:bindings        {kaocha.type.cljs/*debug* true}
     :capture-output? false
     :tests           [{:id                    :unit-cljs
                        :type                  :kaocha.type/cljs
                        :cljs/compiler-options {:verbose      true
                                                :install-deps true
                                                :npm-deps     {:left-pad "1.1.3"}
                                                :foreign-libs [{:file     "./node_modules/left-pad/index.js"
                                                                :provides ["left-pad"]}]}
                        :source-paths          ["src"]
                        :test-paths            ["test"]}]}
